name: publish
on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - .github/workflows/pr.yml
      - .gitattributes
      - .gitignore
      - Dangerfile.df.kts
      - README.md
      - LICENSE
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
env:
  GITHUB_USER: ${{ secrets.GITHUB_ACTOR }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21
      - uses: actions/cache@v5
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Publish
        run: ./gradlew printVersion assembleRelease publish
